@using ASP.NET_EducationPlatform.Data


@model ASP.NET_EducationPlatform.ViewModels.EditLessonViewModel


@{
    ViewData["Title"] = "Edit";
}

<div class="container">

    <h4>Редактирование информации об уроке - Id: @Model.LessonId </h4>


    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" asp-route-id="@Model.LessonId" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direction" class="control-label"></label> 
                    <input asp-for="Direction" class="form-control" />
                    <span asp-validation-for="Direction" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <td>@Html.DisplayNameFor(model => model.TeacherFullName)</td>
                    <td>@Html.DropDownListFor(model => model.Selected, Model.TeacherSelectList)</td>
                </div>

                <div class="form-group">
                    @for (int i = 0; i < Model.StudentsSubj.Count; i++)
                    {
                        <p>fhghghfghdghgdh</p>
                        @Html.HiddenFor(m => m.StudentsSubj[i].LastName)

                        <tr>
                            <td>@Html.DisplayFor(m => m.StudentsSubj[i].LastName)</td>
                            <td>@Html.CheckBoxFor(m => m.StudentsSubj[i].IsInvolved)</td>
                        </tr>
                    }
                </div>
            

                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>

                @Html.HiddenFor(x => x.TeacherFullName)
                @Html.HiddenFor(x => x.LessonId)
                


            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">На главную</a>
    </div>
</div>


