@model IEnumerable<EducationPlatfotm.Domain.Lesson>

<div class="container">
    <h3>Мои уроки</h3>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    @if (Model.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => model.DateTime)</th>
                    <th>@Html.DisplayNameFor(model => model.Direction)</th>
                    <th>@Html.DisplayNameFor(model => model.Subject.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Teacher)</th>
                    <th>@Html.DisplayNameFor(model => model.Students)</th>
                </tr>
            </thead>

            <tbode>
                @foreach (var lesson in Model)
                {
                    <tr>
                        
                        <td><a asp-controller="Lesson" asp-action="Edit" asp-route-Id="@lesson.Id">Редактировать</a></td>
                        <td>@lesson.DateTime</td>
                        <td>@lesson.Direction</td>
                        <td>@lesson.Subject.Name</td>
                        <td>
                            <a asp-controller="Teacher" asp-action="Details" asp-route-Id="@lesson.Teacher.Id">
                                @lesson.Teacher.LastName  @lesson.Teacher.FirstName @lesson.Teacher.Patronymic
                            </a>
                        </td>

                        <td>
                            @foreach (var student in lesson.Students)
                            {
                                <p>@student.LastName @student.LastName @student.Patronymic</p>
                                
                            }
                        </td>
                        
                        <td>
                            <a asp-controller="Lesson" asp-action="Delete" asp-route-Id="@lesson.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbode>       
        </table>
    }
    else
    {
        <p>Уроков нет!</p>
    }

    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>

    